<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Diary</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6134/6134622.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div class="nav">
        <h1>Daily Diary</h1>
        <div class="add">
            <i class="fa-solid fa-plus"></i>
            <a href="http://localhost:8080/posts/new" style="text-decoration: none; color: black;">Make new entry</a>
        </div>
    </div>

    <% for(post of posts){%>
        <div class="post">
            <h2 class="date"><%= post.date %></h2>
            <h3 class="content"><%= post.content %></h3>
        </div>
    <%}%>
</body>
</html>